
body {
    margin: 0;
    padding: 0;
}

.nav-bg {
    background-color: #29294c;
}
.nav-link {
    color:#fff;
    font-size: 16px;
}

.navbar-brand {
    color: #fff;
}

.nav-link:hover{
    color: #c4d3ff;
    font-size: 18px;
}

  /* .video-container {
    height: 80vh;

  }
   */

footer {
    background-color: orange;
}