@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


.nav-bg {
  background-color: #29294c;
}

.nav-link {
  color: #fff;
  font-size: 16px;
}

.navbar-brand {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #29294c;
}

.nav-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-menu-container {
  list-style-type: none;
  float: right;
}

.nav-menu {
  float: left;
}

.nav-item a {
  letter-spacing: 3px;
  font-weight: bold;
}

.nav-item a:hover {
  display: block;
  text-decoration: none;
}

.nav-item a:visited {
  border: 1px solid #f8f9f8;
  border-radius: 9px;
}

.nav-item a:focus {
  border: 1px solid #f8f9f8;
  border-radius: 9px;
}

.navbar {
  background-color: #29294c;
}

.nav-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-menu-container {
  list-style-type: none;
  float: right;
}


.nav-menu {
  float: left;
}

.nav-item a {
  letter-spacing: 3px;
  font-weight: bold;
}

.nav-item a:hover {
  display: block;
  text-decoration: none;


}

a.nav-link {
  color: #fff !important;
  margin-right: 16px;
  margin-left: 16px;
  font-family: 'Raleway', sans-serif;
}

span.navbar-toggler-icon {
  background: #f8f9fa;
  color: #29294c;
}

.navbar-light .navbar-toggler {
  color: #f8f9fa;
  border-color: rgb(253, 250, 250 / 88%);
  padding: 2px;
}

.logo {
  width: 50px;
  margin-top: -15px;
  border-radius: 10px;
}

.logo-text {
  font-weight: 900;
  font-size: xx-large;
  padding: 10px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.navbar-nav {
  width: 100%;
}

a {
  color: transparent;
}

a:hover {
  color: transparent;
}



.navbar-nav {
  width: 100%;
}

a {
  color: transparent;
}

a:hover {
  color: transparent;
}

/* Navbar end style */
header {
  background-color: #29294c;
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
  position: relative;
  /* margin-top: -56px; */
  z-index: -1;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  background-color: rgba(35, 45, 57, 0.8);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 84px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}

/* Footer start */
.social-icons {
  padding: 0px 5px;
}

.social-section {
  /* float: right; */
}

footer {
  background-color: #29294c;
  color: rgba(140, 214, 21, 0.55);
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.copyright-text {
  font-size: medium;
  font-weight: bolder;
  font-style: oblique;
  color: #fff;
}

.fa-brands,
.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  color: #fff;
}

/* Footer end */


/* GENERAL STYLES AND RESETS - Eoghan */

.separator {
  height: 5vh;
}

/* variables */
:root {
  --color-primary: #002B36;
}

.u-bg-primary {
  background-color: var(--color-primary);
}

/* -------------------- */

.nav-bg {
  background-color: #29294c;
}

.nav-link {
  color: #fff;
  font-size: 16px;
}

.navbar-brand {
  color: #fff;
}

.nav-link:hover {
  color: #c4d3ff;
  font-size: 18px;
}

header {
  background-color: #29294c;
}

/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
  position: relative;
  /* margin-top: -56px; */
  z-index: -1;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  background-color: rgba(35, 45, 57, 0.8);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 84px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}

/* Footer start */
.social-icons {
  padding: 0px 5px;
}


footer {
  background-color: #29294c;
  color: rgba(140, 214, 21, 0.55);
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

.copyright-text {
  font-size: medium;
  font-weight: bolder;
  font-style: oblique;
  color: #fff;
}

.fa-brands,
.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  color: #fff;
}


/* Footer end */




/* EMPLOYERS PAGE - Eoghan*/

/* General */

.heading {
  font-family: 'Raleway';
}



/* Images */

.employers-img {
  position: relative;
  height: 100%;
  display: inline-block;
  border-radius: 10%;
  overflow: hidden;
}

.employers-img img {
  width: 100%;
}

/* about us section 1 --John*/
.about-section {
  width: 90%;
}

#about-container1 {
  display: flex;
  justify-content: center;
}

#we-are-content {
  width: 50%;
  font-size: 1.5vw;
  text-align: left;
  padding: 20px;
}


#we-are-content>h3 {
  font-weight: bold;
}

#we-are-image {
  width: 50%;
  padding: 20px;
}

#we-are-image>img {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

/* about us section 2 --John*/
#about-container2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

.h2-margin {
  margin: 25px auto;
}

.card {
  width: 30%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  text-align: left;
  margin: 0px 15px 20px 15px;
  padding: 2px;
  border-radius: 5px;
}

.card>img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
}

.card {
  width: 28%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  text-align: left;
  margin: 0px 15px 20px 15px;
  padding: 2px;
  border-radius: 5px;
  font-size: 1vw;
}

.card>.background-blue>img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto 2px auto;
}

.about-section h1,
.about-section h2,
.about-section h3 {
  font-size: 120%;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

.about-section>h1 {
  font-size: 200%;
}

.about-section>.card-h2 {
  font-size: 180%;
}

.background-blue {
  background-color: #29294c;
  border-radius: 10px;
}

.card-details {
  padding: 2px 15px;
}

.title {
  color: grey;
}

.text-center {
  text-align: center;
}

.top-margin {
  margin-top: 80px;
}

.about-section-margin {
  margin: 25px auto;
}

.card-button {
  margin-bottom: 0;
  width: 100%;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.card-button:hover {
  opacity: 0.6;
}

/* About us page end */

.employers-img::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background: linear-gradient(to bottom right, #29294c 0%, #fff 100%);
  opacity: 0.8;
}

.employers-img-reverse::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background: linear-gradient(to bottom left, #29294c 0%, #fff 100%);
  opacity: 0.8;
}

.intro-container-bg {
  width: 100%;
  height: 40vh;
  background: url(/assets/media/employers4.jpg) center center/cover no-repeat;
  border-radius: 3rem;
  /* overflow: hidden; */
}

.stats-text {
  font-weight: bold;
}

.intro-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, transparent);
}

.intro-container p {
  padding: 6rem;
  padding-right: 15rem;
  font-size: 1.6rem;
  line-height: 1.7;
}


.research-links a h3 {
  color: #000;
  display: inline-block;

}

.research-links a h3:hover {
  color: red;
}

.btn {
  color: #fff;
  background-color: #29294c;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 2rem 0;
  border-radius: 3rem;

}

.btn-contact {
  width: 15rem;
  text-align: center;
  align-self: center;
  transition: all .2s;
  position: relative;
}

.btn-contact:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(217, 139, 93, 0.1);
  color: #fff;

}

.btn-contact::after {
  background-color: #29294c;
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-contact:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-contact:active {
  transform: scale(0.98);
}


/* 
---------------------------------------------
Contact Us
--------------------------------------------- 
*/

.container-contact-us,
.container-thankyou {
  height: 100vh;
  background-color: #eaeaed;
}

.container-contact-us .row {
  padding-top: 6.4rem;
}

.container-contact-us .row .col-12 {
  padding-top: 3.2rem 4.8rem;
}

.container-contact-us h1 {
  font-size: 3.2rem;
}

.container-contact-us h2 {
  font-size: 2rem;
  color: #545470;
}

#contact-form {
  padding: 1.6rem;
}

#contact-form input,
textarea {
  font-size: 1.2rem;
  font-weight: bold;
  color: #545470;
  background-color: #fafafa;

  padding: 0.8rem;
  border: 1px solid #3e3e5e;
  border-radius: 9px;
}

#contact-form input {
  padding-left: 3.2rem;
}

#contact-form input:hover,
#contact-form textarea:hover {
  border-color: #7f7f94;
  background-color: #fff;
}

#contact-form-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  margin-bottom: 3.2rem;
  background-color: #fafafa;
  color: #545470;
  font-family: initial;
  border: 2px solid #000;
  border-radius: 9px;
  box-shadow: inset 0 0 0 3px #fff;
}

#contact-form-button:hover {
  background-color: #29294c;
  color: #fff;
}

.input-icons i {
  position: absolute;
  font-size: 1.8rem;

}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

/* .input-icons input {
  padding-left: 3.2rem;
} */

.icon {
  padding: 1rem;
  color: #a9a9b7;
  min-width: 50px;
  text-align: center;
}

.icon:hover {
  color: #545470;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.stem-table {
  color: #fff;
  background-color: #29294c;
  font-weight: bold;
}


.container-thankyou {
  padding-top: 9.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container-thankyou h1 {
  font-size: 3.2rem;
  font-weight: bold;
  /* text-align: center; */
}

.container-thankyou h2 {
  font-size: 2.4rem;
  font-weight: 400;
  padding: 4.8rem;
}

.btn-back {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  margin-bottom: 6.4rem;
  background-color: #fafafa;
  color: #545470;
  font-family: initial;
  border: 2px solid #000;
  border-radius: 9px;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-back:hover {
  background-color: #29294c;
}

.btn-back a {
  color: #000;
  text-decoration: none;
}

.btn-back a:hover {
  color: #fff;
}


/* media queries  */

@media (max-width: 575px) {
  .logo-text {
    font-size: 1.2rem;
  }

  .video-container {
    margin-top: 4rem;
  }

  #about-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 70%;
  }

  #we-are-image {
    width: 80%;
  }

  #about-container2 {
    flex-direction: column;
  }

  #we-are-content h3 {
    font-size: 1.2rem;
  }

  #we-are-content p {
    font-size: 0.8rem;
  }

  /* -------------------------------- Footer */
  .f-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .copyright-text {
    font-size: 0.8rem;
  }
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


  /* -------------------------------- Home */

  .video-container {
    margin-top: 4.8rem;
  }


  /* -------------------------------- Thank you page */
  .container-thankyou {
    height: 100vh;
  }

  .container-thankyou h1 {
    padding: 0 3.2rem;
    text-align: center;
  }

  .container-thankyou h2 {
    padding: 1.6rem;
    text-align: center;
  }

  /* -------------------------------- Footer */
  .f-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  /* -------------------------------- Footer */
  .f-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo-text {
    font-size: x-large;
  }

  .social-icons i {
    font-size: 1.2rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* 
@media screen and (max-width:786px) {
  .employers-story {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .employers-text {
    margin-top: 2rem;

  }

  .employers-text h2 {
    align-self: center !important;
  }

  .col-6 {
    width: 70%;
  }

  .col-5 {
    width: 70%;
  }

  .flex-row-reverse {
    flex-direction: column !important;
  }
} */


/* -------------------- */