@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Raleway:ital,wght@0,400;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f1faee;
    font-family: "lato" sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #29294c;
  }
  
  .nav-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .nav-menu-container {
    list-style-type: none;
    float: right;
  }
  
  .nav-menu {
    float: left;
  }
  
  .nav-item a {
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    display: block;
    text-decoration: none;
  }

  a.nav-link {
    color: #fff !important;
    margin-right: 16px;
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
}

.logo-text {
    font-weight: 900;
    font-size: xx-large;
    padding: 10px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
  }
  
  .navbar-nav {
    width: 100%;
  }
  
  a {
    color: transparent;
  }
  
  a:hover {
    color: transparent;
  }
  
  /* Navbar end style */
header {
    background-color:  #29294c;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.icon-section {
  /* background-color: yellow; */
  border-radius: 100px;
  border-top: 20px;

  padding-top: 50px;
}

/* media q */
@media (max-width:600px){
  .logo-text{
    font-size: 14px;
  }
}

  /* Footer start */
.social-icons {
    padding: 0px 5px;
  }
  
  .social-section {
    float: right;
  }
  
  footer {
    background-color: #29294c;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .copyright-text {
    font-size: medium;
    font-weight: bolder;
    color: #fff;
  }

  .fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    color: #fff;
}
  /* Footer end */

  